.page-item.active .page-link{
    background-color: #8e8e8e;
    border-color:#8e8e8e;
}
.page-item.active.page-link :hover{
    background-color: #555;
    border-color: #555;
}
/*.sorting_asc{*/
    /*margin-top: -10px;*/
/*}*/
li{
    margin-left: 4px;
    margin-right: 4px;
}

.fa.fa-search-plus{
    padding-left: 5px;
    padding-right: 10px;
}
#page-table{
    border-radius: 4px;
}
.page-table-thead{
    /*background-color: #cacc77;*/
    /*color:white;*/
}
.page-table-row:hover{
    cursor: pointer;
    background-color: #8e8e8e;
    color:#fff;
}

.capitalize{
    text-transform: capitalize;
}
.page-link{
    color: #698895;
}
.page-table-td {
    padding: 5px;
}

.mainTitle{
    padding-left: 0;
    /*text-transform: uppercase;*/
    margin-top: 5px;
    margin-left: 20px;
    color: #596f65;
}
table tbody tr td{
    padding-right: 15px;
    padding-left: 0;
}
.emptyTable{
    padding-top: 10px;
    padding-left: 200px;
}
.col-delete{
    text-align: center;
    width: 5%;
    padding-right: 0;
}
.fa.fa-trash{
    color: #000;
}
.fa.fa-trash:hover{
    color: #fff;
}
.btn-add{
    transition: background-color 0.5s;
    float: right;
    margin-top: 5px;
    width: 150px;
}
.mainTitle{
    float: left;
    /*padding-left: 15px;*/
    font-size: 25px;
    color: #555;
    /*font-weight: bold;*/
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}
#delete-form{
    display: inline-block;
}