.page-item.active .page-link{
    background-color: #147853;
    border-color:#147853;
}
.sorting_asc{
    margin-top: -10px;
}
li{
    margin-left: 4px;
    margin-right: 4px;
}
table tbody tr td{
    padding-left: 10px;
}
table thead tr th {
    padding-left: 35px;
}
.page-table-th-2{
    padding-left: 20px;
}
.page-table-th-3{
    padding-left: 5px !important;
}
.fa.fa-search-plus{
    padding-left: 5px;
    padding-right: 10px;
}
#page-table{
    border-radius: 4px;
}
.page-table-thead{
    background-color: #147853;
    color:white;
}
.page-table-row:hover{
    cursor: pointer;
    background-color: #0e543a;
    color:#fff;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 0;
}
.capitalize{
    text-transform: capitalize;
}
.page-link{
    color: #6c757d;
}
.page-table-td {
    padding: 5px;
}
.page-table-td.page-table-2{
    padding-left: 20px;
}
.capitalize.mainTitle{
    padding-left: 0;
}
table tbody tr td{
    padding-right: 15px;
    padding-left: 0;
}
.emptyTable{
    padding-top: 10px;
    padding-left: 200px;
}
.col-delete{
    text-align: center;
    width: 5%;
    padding-right: 0;
}
.fa.fa-trash{
    color: #000;
}
.fa.fa-trash:hover{
    color:white;
}
.btn-add{
    border-color:#147853;
    background-color: #147853;
    color: #fff;
    float: right;
}
.mainTitle{
    float: left;
}
.btn-add:hover{
    background-color: #199c6b;
    color: #fff;
}