.col-sm-2.col-form-label{
    text-align: right;
}
.form-group{
    margin-bottom: 1px;
}
.col-sm-2.col-form-label{
    font-weight: 600;
}
.subTable-thead{
    font-style: italic;
}
.btn.buttonDoSomething{
    color: #fff;
}
.col1{
    width: 30%;
}
.col2{
    width: 50%;
}
.col-btns{
    /*width: 15%;*/
    text-align: center;
    padding-top:4px;
}
.subTable{
    margin-top: 4px;
    width: 80%;
}
.table th{
    padding: 3px 0 3px 5px;
    font-weight: 500;
}
.table td{
    padding: 5px 5px 5px 5px;
}
/*.td-col1, .td-col2{*/
    /*padding: 6px 0 0 10px;*/
/*}*/
.col-btns{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.save-btn, .cancel-btn{
    color:#fff;
}
.save-btn{
    /*background-color: #6b857b;*/
    /*border-color: #6b857b;*/
    transition: background-color 0.5s;
    /*color:white !important;*/
}
.save-btn:hover{
    /*background-color: #4f665c;*/
    /*border-color: #4f665c;*/
    transition: background-color 0.5s;
    /*color:white;*/
}
.cancel-btn{
    background-color: #848484;
    border-color: #848484;
    transition: background-color 0.5s;
}
.cancel-btn:hover{
    background-color: #acacac;
    color: #fff;
    transition: background-color 0.5s;
}
.cancel-btn:active{
    color: white;
}
.btn-back{
    /*background-color: #6b857b;*/
    /*border-color: #6b857b;*/
    /*color: #fff;*/
    width: 100%;
    margin-top: 7px;
    transition: background-color 0.5s;
}
.btn-back:hover{
    /*background-color: #4f665c;*/
    /*border-color: #4f665c;*/
    /*color: #fff;*/
    transition: background-color 0.5s;
}
.btn-back:active{
    color: white;
}
.emptyTable{
    padding-top: 6px;
    font-style: italic;
}
p{
    margin-bottom: 0;
}
.hideElement{
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bold{
    font-weight: 600;
}
.mainTitle{
    font-size: 25px;
    /*font-weight: bold;*/
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    text-transform: uppercase;
}
label{
    padding-top: 5px;
}
#labelOsoba{
    margin-top: 10px;
}